/* styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  position: relative; /* Added to position the buttons absolutely within the body */
  min-height: 100vh; /* Ensure body takes full height */
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Fullscreen */
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}
.video-background.hidden {
  display: none; /* Hide video background during the game */
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the video */
  display: flex;
  justify-content: center;
}

#game-content {
  display: none;
  background-image: url("../assets/images/retro-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
#game-content.visible {
  display: block;
}

h2, p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.title-container {
  justify-self: center;
}
.title-container .title-text {
  text-align: center;
  color: black; /* Red text color */
  font-size: 50px;
  font-family: "Play", cursive;
}
.title-container .title-text .emoji {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif; /* Use system emoji fonts for emojis */
}

#initial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#initial-content.hidden {
  display: none;
}

#container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}
#container .side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
#container .dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  min-height: 150px;
  width: 100%;
}
#container .die {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-size: cover;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#container .die.initial-load {
  animation: fall 1s ease-in-out forwards;
}

#start-button, #submit-button, .instructions-button, .toggle-dice-button {
  font-family: "Press Start 2P", cursive;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#start-button:hover, #submit-button:hover, .instructions-button:hover, .toggle-dice-button:hover {
  background-color: #333;
}

#start-button {
  padding: 15px 30px;
  font-size: 20px;
  margin-top: 40px;
}

#submit-button {
  padding: 10px 25px;
  font-size: 16px;
}

.instructions-button, .toggle-dice-button {
  padding: 10px 20px;
  font-size: 12px;
}
.instructions-button.instructions-button, .toggle-dice-button.instructions-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
.instructions-button.toggle-dice-button, .toggle-dice-button.toggle-dice-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.difficulty-button img {
  color: #fff;
  border: none;
  padding: 10px 20px 0px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s;
}

#difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}
#difficulty-buttons .difficulty-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s;
}
#difficulty-buttons .difficulty-button img {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  padding: 10px 20px 0px 20px;
}
#difficulty-buttons .difficulty-button p {
  margin: 5px 0 0 0;
  color: #fff;
}
#difficulty-buttons .difficulty-button.selected {
  border: 2px solid #fff; /* Indicate selection */
  background-color: rgba(51, 51, 51, 0.2666666667);
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-200px) rotate(0deg) scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50px) rotate(180deg) scale(0.75);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(360deg) scale(1);
  }
}
/* Media Queries for Mobile and Smaller Screens */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
    align-items: center;
  }
  .side {
    width: 100%;
    margin: 10px 0;
  }
  .instructions-button, .toggle-dice-button {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin: 10px;
    width: auto;
  }
}
/* FONT IMPORT */

/*# sourceMappingURL=styles.css.map */
