/* styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Added to position the buttons absolutely within the body */
  min-height: 100vh; /* Ensure body takes full height */
  margin: 0;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

#initial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
#initial-content .title-text {
  margin: 2vw auto;
}
#initial-content #instructions-container {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 0 5vw;
  border-radius: 10px;
  max-width: 85%;
  margin: 20px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}
#initial-content #instructions-container h2 {
  color: #ffffff;
  font-size: 2.5vw;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}
#initial-content #instructions-container ol {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  margin: 0;
}
#initial-content #instructions-container li {
  margin-bottom: 10px;
  font-family: "Play", cursive;
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the video */
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#game-content {
  display: none;
  background-image: url("assets/images/retro-background.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
#game-content .title-text {
  margin-top: 0;
}

h2, p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Play", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.title-container .title-text {
  text-align: center;
  color: #00ffcc;
  font-size: 7vw;
  font-family: "Play", cursive;
  text-shadow: 8px 8px 16px #000;
  -webkit-text-stroke: 2px #000;
  margin-bottom: 0;
}
.title-container .title-text .emoji {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif; /* Use system emoji fonts for emojis */
}

#container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}
#container .side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
}
#container .dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
#container .die {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-size: cover;
  text-align: center;
  line-height: 80px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  touch-action: none; /* Prevent default touch behaviors */
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Prevent selection on long press */
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
#container .die.initial-load {
  animation: fall 1s ease-in-out forwards;
}
#container #dice-container1 .die:hover {
  transform: scale(1.05);
}
#container #dice-container2 .die:hover {
  cursor: default;
}

#start-button, #submit-button, .instructions-button, .toggle-dice-button {
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  background: linear-gradient(180deg, #ff6512, #e03e00);
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
#start-button:hover, #submit-button:hover, .instructions-button:hover, .toggle-dice-button:hover {
  background: linear-gradient(180deg, #ff9c64, #ff6512);
  transform: scale(1.05);
}

#start-button {
  padding: 15px 30px;
  font-size: 2vw;
  margin-top: 40px;
}

#submit-button {
  padding: 15px 30px;
  font-size: 2vw;
  margin-bottom: 10px;
}

.navbtns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.instructions-button, .toggle-dice-button {
  padding: 10px 20px;
  font-size: 1vw;
}
.instructions-button.instructions-button, .toggle-dice-button.instructions-button {
  margin-right: 10px;
}
.instructions-button.toggle-dice-button, .toggle-dice-button.toggle-dice-button {
  margin-left: 10px;
}

#difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
#difficulty-buttons .difficulty-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
#difficulty-buttons .difficulty-button .difficulty-text {
  background-color: rgba(255, 68, 0, 0.418);
  border-radius: 5px;
  border: #000 5px;
  padding: 5px 15px;
}
#difficulty-buttons .difficulty-button img {
  width: 15vw;
  height: 15vw;
  padding: 10px 20px 0px 20px;
}
#difficulty-buttons .difficulty-button p {
  margin: 0;
  color: #fff;
  font-size: 2vw;
}
#difficulty-buttons .difficulty-button.selected {
  border: 2px solid #fff;
  background-color: rgba(26, 29, 28, 0.5960784314);
}
#difficulty-buttons .difficulty-button:hover {
  transform: scale(1.05);
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-200px) rotate(0deg) scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50px) rotate(180deg) scale(0.75);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(360deg) scale(1);
  }
}
/* Media Queries for Mobile and Smaller Screens */
@media (min-width: 769px) {
  #instructions-container li {
    line-height: 1.5;
    font-size: 1.8vw;
  }
  #difficulty-buttons {
    gap: 5vw;
  }
  #difficulty-buttons .difficulty-button img {
    width: 20vw;
    height: 20vw;
  }
}
@media (max-width: 768px) {
  #container {
    flex-direction: column;
    align-items: center;
  }
  .side {
    width: 100%;
    margin: 10px 0;
  }
  .instructions-button, .toggle-dice-button {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-bottom: 20px;
    width: auto;
  }
  #instructions-container li {
    font-size: 2.1vw;
  }
}
@media (max-width: 767.98px) {
  #submit-button, #start-button {
    font-size: 3vw;
    padding: 10px 25px;
  }
  .instructions-button, .toggle-dice-button {
    font-size: 2.5vw;
    padding: 10px 10px;
  }
  #dice-container2 {
    padding: 0px 8vw !important;
    gap: 0px !important;
    margin: 0px !important;
  }
  #dice-container2 .die {
    height: 40px;
    width: 40px;
    margin: 5px;
  }
}
/* FONT IMPORT */

/*# sourceMappingURL=styles.css.map */
